/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
} */

h1 {
    font-size: 3em;
}
body {
  margin: 35px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* img {
  object-fit: cover;
} */

.img-div {
    width: min(100%, 1200px);
    margin-inline: auto;
    padding: 1rem;
  }
  
  img {
    width: 95%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px; /* optional: rounded corners */
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }